<div id="chat-wrapper">
  <h1>Chat</h1>
  <div class="content-wrapper">
    <div id="content" *ngFor="let c of chat">
      {{c.author}} : {{c.message}}
    </div>
  </div>
  <form [formGroup]="chatForm">
    <input type="text" placeholder="Name" formControlName="chatName" #chatName>
    <input type="text" placeholder="Message" formControlName="chatMessage" #chatMessage>
    <button (click)="getMessages()">get</button>
    <button (click)="postMessages()">post</button>

    <input type="text" placeholder="MessageId" formControlName="chatMessage" #MessageId>
    <button (click)="deleteMessage()">delete</button>
    <button (click)="updateMessage()">update</button>
  </form>
</div>